* {
  background-color: rgb(5, 4, 4);
}

.Introduction {
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(5, 109, 141);
}

.Trees-benefits {
  font-weight: lighter;
  color: rgb(226, 230, 18);
}
